{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:react/recommended", "airbnb", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "react/prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-indent-props": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-wrap-multilines": "off",
    "no-unused-vars": "warn"
  }
}
