/* Variables */
$navbar-height: 70px;
$carousel-height: calc(80vh - #{$navbar-height});

/* Classes */
.brand-logo-font {
  font-family: Montserrat, Verdana, Tahoma, sans-serif;
  font-style: italic;
}

.text-small {
  font-size: 0.8rem;
}

/* Layout */
.main {
  margin-top: $navbar-height;
}

/* Home */
.banner {
  height: $carousel-height;

  .carousel-item {
    height: $carousel-height;
  }

  .first {
    background: linear-gradient(to right, #8e54e9, #4776e6);

    .img-wrapper {
      right: 0;
    }

    img {
      filter: drop-shadow(2rem 2rem 2rem rgba(253, 253, 253, 0.2));
    }

    .carousel-caption {
      left: 25%;
      top: 50%;
      width: 30%;
      transform: translate(-50%, -50%);
    }
  }

  .second {
    background-color: #673ab7;
  }

  .third {
    background-color: #2196f3;
  }
}

/* Admin */
.admin-left {
  height: calc(100vh - #{$navbar-height});

  .nav-link {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

.admin-right {
  min-height: calc(100vh - #{136px + $navbar-height});

  .admin-details {
    height: 287px;
    margin-top: 40px;

    .card-header {
      height: 70px;
    }

    img {
      height: 70px;
      width: 70px;
      top: 0;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }

  .bottom-left-info {
    margin-top: 40px;
    height: 287px;
  }
}
