// @use "bootstrap/scss/variables";

$utilities: () !default;

$utilities: map-merge(
  $utilities,
  (
    "background-linear-gradient": (
      property: background,
      class: bg-l-gradient,
      values: (
        dark: #0d0d14 linear-gradient(315deg, #0d0d14 0%, #242425 74%),
      ),
    ),
  )
);
