/* Bootstrap */
@use "bootstrap" with (
	$primary: #ffc107,
	$secondary: #ff9800,
	$danger: #f44336,
	$info: #9E9E9E,
	$dark: #0D0D14,
	$component-active-color: #0D0D14,
);

/* Custom */
@use "custom";

/* Bootstrap Icons */
@import "bootstrap-icons/font/bootstrap-icons.css";
